<header>
  <h2>Create Account</h2>
    <form action="" method="get" class="create-account-form"></form>
      <div class="create-account-form">
        <label for="username">Enter Your Username </label>
        <input type="text" name="name" id="name" placeholder="Username" />
  </div>
  <div class="create-account-form">
      <label for="password">Enter Your Password </label>
      <input type="text" name="password" id="password" placeholder="Password" />
  </div>
  <div class="login-form">
    <input type="submit" value="Login" />
  </div>
  <div class="login-form">
    <input type="submit" value="Create Account" />
  </div>
</header>