<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>meringue.</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body>
    <header>
      <h1>meringue.</h1>
      <div class="img">
        {{! replace public with .. to make img src work <img src="../public/sharpDependency/mpie8-resized.png" alt="a"> }}
        <img src="../../sharpDependency/mpie8-resized.png" alt="a" />
      </div>
    </header>
    <nav class="container">
      <a href="/">home</a>
      <a href="/yourrecipes">your recipes</a>
      <a href="/createrecipe">create recipe</a>
      <a href="/createuser">create account</a>
      <a href="/logout">logout</a>
    </nav>
    <main>
      <div class="welcome">
        <h2>welcome to meringue.</h2>

      </div>
    </main>
    <div class="container">
      {{{body}}}

    </div>
  </body>
</html>