<header>
  <h2>create recipe.</h2>
</header>
<div>
  {{!-- the btn will post everything included below into the content card; renders recipe card w/ info --}}
  <form class="new-recipe-form" action="/api/recipeRoutes" method="POST">
    {{!-- title --}}
    <label for="recipe_title">
      Title:
    </label>
    <br />
    {{!-- ingredients --}}
    <div class="recipe-form">
      <input type="submit" value="" />
    </div>
    {{!-- instructions --}}
    <div class="recipe-form">
      <input type="submit" value="" />
    </div>
    {{!-- category --}}
    <div class="recipe-form">
      <input type="submit" value="" />
    </div>
    {{!-- source --}}
    <div class="recipe-form">
      <input type="submit" value="" />
    </div>
    {{!-- notes --}}
    <div class="recipe-form">
      <input type="submit" value="" />
    </div>
  </form>
</div>