<header>
  <h2>Create User</h2>
    <form action="" method="get" class="create-account-form"></form>
      <div class="create-account-form">
        <label for="username">Please enter a username. </label>
        <input type="text" name="name" id="name" placeholder="Username" />
  </div>
  <div class="create-account-form">
      <label for="password">Please enter a password. </label>
      <input type="text" name="password" id="password" placeholder="Password" />
  </div>
  <div class="login-form">
    <input type="submit" value="Login" />
  </div>
  <div class="login-form">
    <input type="submit" value="Create User" />
  </div>
</header>