<header>
  <h2>createrecipe</h2>
</header>
<div>
  <div class="recipe-form">
    <input type="submit" value="" />
  </div>  
  <div class="recipe-form">
    <input type="submit" value="" />
  </div>
  <div class="recipe-form">
    <input type="submit" value="" />
  </div>
<div class="recipe-form">
  <input type="submit" value="" />
  </div>
</div>