<header>
  <h2>create account</h2>
    <form action="" method="get" class="create-account-form"></form>
      <div class="create-account-form">
        <label for="username">please enter a username. </label>
        <input type="text" name="name" id="name" placeholder="username" />
  </div>
  <div class="create-account-form">
      <label for="password">please enter a password. </label>
      <input type="text" name="password" id="password" placeholder="password" />
  </div>
  <div class="login-form">
    <input type="submit" value="create account" />
  </div>
</header>