{{!-- <header>
  <h2>Dashboard</h2>
</header>

<article>
  <footer>
    <a href="#" role="button">View</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="secondary">Delete</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast">Update</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="outline">Edit</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast outline">Cancel</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="secondary outline">Save</a>
  </footer>
</article> --}}

<header>
  <h2>please login or create account</h2>
    <form action="" method="get" class="login-form"></form>
      <div class="login-form">
        <label for="username">enter your username </label>
        <input type="text" name="name" id="name" placeholder="username" />
  </div>
  <div class="login-form">
      <label for="password">enter your password </label>
      <input type="text" name="password" id="password" placeholder="password" />
  </div>
  <div class="login-form">
    <input type="submit" value="login" />
  </div>
  <div class="login-form">
    <input type="submit" value="create account" />
  </div>
</header>
