{{!-- <header>
  <h2>please login</h2>
    <form action="" method="get" class="login-form"></form>
      <div class="login-form">
        <label for="username">Enter Your Username </label>
        <input type="text" name="name" id="name" placeholder="Username" />
  </div>
  <div class="login-form">
      <label for="password">Enter Your Password </label>
      <input type="text" name="password" id="password" placeholder="Password" />
  </div>
  <div class="login-form">
    <input type="submit" value="Login" />
  </div>
  <div class="login-form">
    <input type="submit" value="Create Account" />
  </div>
</header> --}}
